[class~="postComponent"]{
    display:flex;
    flex-direction: column;
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: rgb(43, 182, 136);
}

.postCategory{
    width:100%;
    display: flexbox;
    font-size:2vw;
    background-color: rgb(30, 103, 212);
    color: white;
}
.postTopic{
    padding:1.2vw;
    font-weight:bolder;
    font-size: 1.5vw;
    float: left;
}
.postBody{
    display:flex;
    width:100%;
    flex-direction: column;
    background-color:slateblue;
}

.postTitle{
    padding:2vw;
    font-size:1.4rem;
    height:90%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    color:blueviolet;
    background-color: rgb(245, 245, 245);
}

.userInfo{
    display: flex;
    background-color: rgb(216, 209, 226);
    width:100%;
}

.likesComments{
    flex-wrap: nowrap;
    flex-grow: 2;
    background-color: rgb(238, 235, 235);
}

.authorImage{
    align-self: flex-start;
    width:3vw;
    height:3vw;
    border-radius: 50%;
}

.authorName{
    flex-wrap: nowrap;
    margin-left:0.5vw;
    position: relative;
    top: 1vw;
    font-weight: bolder;
    font-size:1vw;
}

 .comments{
    margin-left:2vw;
}
span.numComments{
    margin:3px;
    font-size:1.5vw;
}
span.numLikes{
    margin:3px;
    font-size: 1.5vw;
}
span.likes span.comments{
    font-size: 1.5vw;
}



@media screen and (max-width:666px){
    [class~="postComponent"]{
        margin-top: 3vw;
        margin-right:1vw;
        margin-left:1vw;
        width:100vw;
        flex-direction: column;
    }
    .postTitle{
        font-size: 3vw;
    }
    .postBody{
        width:100vw;
        align-self: center;
    }
    .authorName{
        font-size: 3vw;
    }

    span.likes span{
        font-size:3vw;
    }
    span.comments span{
        font-size:3vw;
    }

    .postTopic{
        padding:1vw;
        font-weight:bolder;
        font-size: 3.3vw;
        float: left;
    }
    .authorImage{
        height: 4vw;
        width:4vw;
    }
}



@media screen and (max-width:500px){
    [class~="postComponent"]{
        margin-top: 3vw;
        margin-right:1vw;
        margin-left:1vw;
        width:100vw;
        flex-direction: column;
    }
    .postTitle{
        font-size: 4vw;
    }
    .postBody{
        width:100vw;
        align-self: center;
    }
    .authorName{
        font-size: 3vw;
    }

    span.likes span{
        font-size:3vw;
    }
    span.comments span{
        font-size:3vw;
    }

    .postTopic{
        font-weight:bolder;
        font-size: 3vw;
        float: left;
    }

    .authorImage{
        height: 6vw;
        width:6vw;
    }
}

