
.post__{
    display:grid;
    color:black;
    padding:10px;
    width:90%;
    height:25%;
    align-self: center;
    background-color: rgb(118, 120, 126);
}

.postTitle{
    grid-column: 1/5;
    overflow-x: hidden;
    font-size:1.9em;
}

.authorPic{
    grid-column: 1/2;
    padding:3px;

}


.lastUpdate{
  grid-column:3/4;
}

.authorImage{
    width:50px;
    height:50px;
    margin-right:5px;
    border-radius: 50%;
}