.rootContainer{
    display: flex;
    min-height: 100vh;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background: rgb(64, 87, 95);
}

.post{
    background-color:lightcyan; 
    padding:3%;
    margin: 40px;
}